@import '../Vars.scss';

.ChartPieCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ChartPie__container {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    width: 85%;
    margin: 64px auto 0;
    justify-content: center;

}
.Pie__title {

}
.Pie__recuperados {

}
.Pie__info--recuperados {
    position: relative;
}
.Pie__info--recuperados::after {
    content: ' ';
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: $primary-color;
    left: -25px;
}
.Pie__info--muertes {
    @extend .Pie__info--recuperados;
}
.Pie__info--muertes::after {
    @extend .Pie__info--recuperados::after;
    background-color: $secondary-color;
    
}