@import '../Vars.scss';


.ChartPie__container {
    width: 85%;
    margin: 64px auto 0;
}

.ChartPie__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

.ChartPieCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    
}

.Pie__title {

}


.Pie__recuperados {

}
.Pie__info--recuperados {
    position: relative;
}
.Pie__info--recuperados::after {
    content: ' ';
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: $primary-color;
    left: -25px;
}
.Pie__info--muertes {
    @extend .Pie__info--recuperados;
}
.Pie__info--muertes::after {
    @extend .Pie__info--recuperados::after;
    background-color: $secondary-color;
    
}

@media screen and (max-width: 1024px) {
    .ChartPie__grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 768px) {
    .ChartPie__grid {
        grid-template-columns: 1fr;
    }
}