@import '../Vars.scss';

.ChartsEstadosCard {
  background: $ligth-color;
  border-radius: 5px;
  // width: 555px;
  height: 150px;
  padding: 1em;
  margin-left: 1em;
  box-shadow: $shadow-card;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__state {
    color: $secondary-color;
    margin: 0;
    font-size: 1em;
  }

  &__cases {
    color: $danger-color;
    h2 {
      font-size: 2em;
      margin: 0;
    } 
    h3 {
      margin: 0;
      color: $secondary-color;
    }
  }
}
