.container {
  display: grid;
  grid-template-columns: minmax(auto, 1200px);
  justify-content: center;
  margin-top: 4em;
}

.ChartsDashboard {
  height: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2em;
  grid-row: 2em;

}