@import '../Vars.scss';

.title {
  text-align: center;
}

.Estados {
  display: flex;
  padding-bottom: .7em;
  overflow: overlay;
  white-space: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
}
.Estados__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}