@import '../Vars.scss';

.Footer {
    height: 80px;
    background-color: $ligth-color;
    color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 140px;
    }
}
