@import '../Vars.scss';

.Hero__container {
    padding: 1em 0 ;
    margin: 0;
    width: 100%;
}
.Hero__background {
    background-color: $primary-color;
    color: $ligth-color;
    height: 80vh;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero__content {
    width: 85%;
    height: inherit;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
}
.Hero__title, .Hero__img {
    align-self: center;
    h1,h2,h3,.Hero__hashtag {
        text-align: right;
    }
    h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;
        text-align: right;
    }
    .Hero__hashtag {
        color: $dark-color;
        font-size: 2em;
    }
}

.Hero__title { 
    justify-self: center;
}
.Hero__img {
    width: 100%;
    max-width: 420px;
}