@import './Vars.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.Button__link {
  background-color: $primary-color;
  font-family: inherit;
  color: $ligth-color;
  padding: 1em;
  border: 0;
  border-radius: .5em;
  font-size: 1.1em;

  a {
    color: $ligth-color;
  }
}