//Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');
$main-font: 'Montserrat', sans-serif;

// Colors
$primary-color: #49C96D;
$secondary-color: #3529A3;
$ligth-color: #F2F2F2;
$dark-color: #333333;
