//Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');
$main-font: 'Montserrat', sans-serif;

// Colors
$primary-color: #49C96D;
$secondary-color: #3529A3;
$ligth-color: #F2F2F2;
$dark-color: #333333;

//Gradients:
$gradient-card: linear-gradient(90deg, rgba(236,236,236,1) 15%, rgba(217,217,217,0) 100%);

//Shadows:
$shadow-card: 0px 4px 10px rgba(0, 0, 0, 0.25);
